/* Embedded Fonts */

@font-face {
    font-family: futura;
    src:url(../fonts/Futura.ttc);
}




/* Container Items */

html,body {
    height: 100%;
    width: 100%;	
}
/* 이걸 넣어야 cover의 height 값이 입력됨 */

#cover {
    width: 100%;
    height: 100%;
    background: url("../images/cover.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    margin-bottom: 10px;
}

#sub_cover {
    width: 100%;
    height: 100%;
    background: url("../images/sub_cover.jpg") no-repeat left fixed;
    -webkit-background-size: cover;
    margin-top: 50px;
    margin-bottom: 5px;
}


#container {

}



/* Paragraph Styles */

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 9em;
    color: darkcyan;
    letter-spacing: 0.05em;

}
.sub_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    color: cadetblue;
    letter-spacing: 0.05em;
    margin-left: 800px;
    text-align: right;
    position: relative;
    
    
}

.author {

}


.text {
    
    font-family: futura;
    line-height: 15pt;
    width: /* text box size */

}
.text2 {
    font-family: 'Droid Serif', serif;
    font-size: 12pt;
    color: burlywood;
    margin-bottom: 100px;
    line-height: 15pt;
}

.caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 20px;
}


.italic {
	font-style: italic;
    font-weight: bold;
    color: coral;
    
}